extends layout

block content
    div(class="d-flex col-12 flex-row justify-content-center p-4")
        h3 Are you sure you want to delete #{cat.name}?
                form(method='POST' action='')
                    div.form-group
                    input#catid.form-control(type='hidden',name='catid', required='true', value=cat._id )
                    label(for="password") Password: 
                    input#password.form-control(name="password" type="password" placeholder="Password")
                    button.btn.btn-danger(type='submit') Delete
    div(class="d-flex col-12 flex-row justify-content-center")
        div(class="d-flex flex-column")
            img(class="img-container img-thumbnail" src=cat.image)
        div(class="d-flex flex-column p-4 w-75")
            h3(class="") #{cat.name}
            p(class="text-muted") #{cat.breed.name}
            div(class="d-flex pet-stats gap-20 text-capitalize")
                div(class="d-flex flex-column pet-loc lh-0")
                    p(class="text-muted") Location
                    p(class="font-weight-bold") #{shelter.length > 0 ? shelter[0].name: 'No Shelter'}
                div(class="d-flex flex-column pet-gender lh-0")
                    p(class="text-muted") Sex
                    p(class="font-weight-bold") #{cat.gender}
                div(class="d-flex flex-column pet-age lh-0")
                    p(class="text-muted") Age
                    p(class="font-weight-bold") #{cat.age}
            h5(class="") #{cat.desc}
    if errors
        ul
            for error in errors
                li!= error.msg

            